@import 'variables';
@import 'form';
@import 'header';
@import 'button';
@import 'common';
@import 'board';
@import 'card';
@import 'flash';
@import 'task';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: $text-base-font;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1em;
  color: $text-base-color;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px 16px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

form {
  height: 100%;
  position: relative;
}

ul {
  margin-bottom: 20px;
}