@import './variables';

$avatar-size: 32px;
$container-padding: 16px;

.back-link {
  position: relative;

  a {
    color: black;
  }
}

.board {
  background-color: white;
  margin: 16px 16px;
  padding: $container-padding $container-padding;
  position: relative;

  &_title {
    margin-bottom: 20px;
  }

  &_actions {
    position: absolute;
    top: 10px;
    right: 16px;
  }

  &_content {
    padding: 20px;
    background-color: $base-bg-color;
    border-radius: $text-border-radius;
    margin-bottom: 20px;
    font-size: 14px;
  }

  &_info {
    padding: 10px;
    display: flex;
    font-size: 12px;
    position: relative;
    color: black;
    margin-bottom: 10px;

    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }
  }

}